<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!--触屏适配-->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	    <title>监控记录信息修改</title>
	
	    <!-- Bootstrap -->
	    <script type="text/javascript" src="../js/jquery-2.2.4.min.js"></script>
	    <link href="../css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="../css/user-a.css"/>
	    <link rel="stylesheet" href="../component/font-awesome-4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--导航栏-->
				<div id="lefttt-a" align="center" class="col-xs-2 col-sm-2 col-md-2">
					<div id="nav-pic-a" >
						<i class="fa fa-exclamation-triangle"></i>
					</div>
					<div id="nav-title-a">
						农场监控管理
						<div class="nav-sub-title-a"> 
							<a href="./monitor-camera-select.html">摄像头管理</a>
						</div>
						<div class="nav-sub-title-a">
							<a href="./monitor-current.html">实时监控</a>
						</div>
						<div class="nav-sub-title-a">
							<a href="./monitor-file.html">监控记录</a>
						</div>
					</div>
				</div>
				<!--内容展示-->
	  			<div id="righttt-a" class="col-xs-10 col-sm-10 col-md-10">
	  				<div id="rightt-title-a">
	  					监控记录修改--<span style="color:red">1号记录</span>
	  				</div>
	  				<div id="rightt-content-a">
	  					<div class="bs-docs-example">
							<form action="" method="post">
								<table id="del-tb" class="table table-striped table-bordered" >
									<tbody>
										<tr>
											<td>序号</td>
											<td>1</td>
										</tr>
										<tr>
											<td>所属基地</td>
											<td><input type="text" value="沙坪坝基地"></td>
										</tr>
										<tr>
											<td>监控区域</td>
											<td><input type="text" value="1,2,3"></td>
										</tr>
										<tr>
											<td>所属摄像头</td>
											<td><input type="text" value="35"></td>
										</tr>
										<tr>
											<td>简介</td>
											<td><input type="text" value="2018年5月28日14:15:20 沙坪坝基地 1号监控单元"></td>
										</tr>
										<tr>
											<td colspan="2">
												<input class="btn btn-primary" style="margin-left: 100px;width: 300px;" type="submit" id="" name="" value="更新信息" />
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
	  			</div>	
	  		</div>
		</div>
	</body>
	
</html>
