<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!--触屏适配-->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	    <title>活动查询</title>
	
	    <!-- Bootstrap -->
	    <script type="text/javascript" src="../js/jquery-2.2.4.min.js"></script>
	    <link href="../css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="../css/user-a.css"/>
	    <link rel="stylesheet" href="../component/font-awesome-4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--导航栏-->
				<div id="lefttt-a" align="center" class="col-xs-2 col-sm-2 col-md-2">
					<div id="nav-pic-a" >
						<i class="fa fa-hand-peace-o"></i>
					</div>
					<div id="nav-title-a">
						<a href="./activity-select.html">农场活动管理</a>
						<!--<div class="nav-sub-title-a"> 
							<a href="./activity-select.html">活动查询</a>
						</div>
						<div class="nav-sub-title-a">
							<a href="./activity-add.html">活动添加</a>
						</div>-->
					</div>
				</div>
				<!--内容展示-->
	  			<div id="righttt-a" class="col-xs-10 col-sm-10 col-md-10">
	  				<div id="rightt-title-a">
	  					活动查询
	  				</div>
	  				<div id="rightt-content-a">
	  					<div class="bs-docs-example">
							<form class="form-inline" action="find_user" method="post" >
								<input style="width:200px;" id="find_usera" name="find_usera" type="text" class="form-control" placeholder="搜索活动"/>
								<input type="submit"   class="btn btn-primary" name="" id="" value="搜索" />
								<input type="button" class="btn btn-danger" onclick="window.location='./activity-add.html'" value="发起活动" />
							</form>
							
							<form action="" method="post">
								<table id="del-tb" class="table table-striped table-bordered" >
									<thead>
										<tr align="center">
											<td width="200">活动编号</td>
											<td width="180">活动主题</td>
											<td width="220">起始时间</td>
											<td width="90">周期</td>
											<td width="110">状态</td>
											<td width="180">操作</td>
										</tr>
									</thead>
									<tbody align="center">
										<tr>
											<td>1</td>
											<td>
												打折活动
											</td>
											<td>2018-05-22 18:18</td>
											<td>1个月</td>
											<td>正在进行</td>
											<td>
												<button type="button" class="btn btn-primary" onclick="WatchU();">查看</button>
												<button type="button" class="btn btn-danger" onclick="ChangeU();">修改</button>
											</td>
										</tr>
										<tr>
											<td>2</td>
											<td>
												第二个活动
											</td>
											<td>2018-05-22 18:18</td>
											<td>1天</td>
											<td>已结束</td>
											<td>
												<button type="button" class="btn btn-primary" onclick="WatchU();">查看</button>
												<button type="button" class="btn btn-danger" onclick="ChangeU();">修改</button>
											</td>
										</tr>
										<tr>
											<td>3</td>
											<td>
												第三个活动
											</td>
											<td>2018-05-22 18:18</td>
											<td>1个月</td>
											<td>正在进行</td>
											<td>
												<button type="button" class="btn btn-primary" onclick="WatchU();">查看</button>
												<button type="button" class="btn btn-danger" onclick="ChangeU();">修改</button>
											</td>
										</tr>
										<tr>
											<td>4</td>
											<td>
												打折活动2
											</td>
											<td>2018-05-22 18:18</td>
											<td>永久</td>
											<td>正在进行</td>
											<td>
												<button type="button" class="btn btn-primary" onclick="WatchU();">查看</button>
												<button type="button" class="btn btn-danger" onclick="ChangeU();">修改</button>
											</td>
										</tr>
										<tr>
											<td>5</td>
											<td>
												打折活动3
											</td>
											<td>2018-05-22 18:18</td>
											<td>3周</td>
											<td>正在进行</td>
											<td>
												<button type="button" class="btn btn-primary" onclick="WatchU();">查看</button>
												<button type="button" class="btn btn-danger" onclick="ChangeU();">修改</button>
											</td>
										</tr>
										
										
										<tr align="center" style="font-size: 18px;">
											<td colspan="6">
												<a href="#(b.URLQZ)/user_view?page=#(onpage-1)">上一页</a>
												第 2/3页
												<a href="#(b.URLQZ)/user_view?page=#(onpage+1)">下一页</a>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
	  			</div>	
	  		</div>
		</div>
		<div class="WatchU" id="WatchU_">
			<div class="detailU">
				<div class="topU">
					活动信息查看
				</div>
				<div class="contentU">
					<table class="table table-bordered table-striped">
						<tr>
							<td width="200"  align="center">活动名称</td>
							<td>打折活动</td>
						</tr>
						<tr>
							<td  align="center">活动编辑人</td>
							<td>杨睿</td>
						</tr>
						<tr>
							<td  align="center">活动简介</td>
							<td>
								这里是大概一句话的活动简介
							</td>
						</tr>
						<tr>
							<td  align="center">截止日期</td>
							<td>2018-6-22</td>
						</tr>
						
					</table>
				</div>
				<div class="taskU">
					<button type="button" class="btn btn-primary" onclick="WatchUClose();">关闭</button>
				</div>
			</div>										
		</div>
		
		<script>
			var del_id;
			function showMsg()
			{
				if("#(msg)" != "")
				{
					alert("#(msg)");
				}
			}
			
			function WatchU(id)
			{
				$("#WatchU_"+id).show();
			}
			
			function WatchU()
			{
				$("#WatchU_").show();
			}
			
			function WatchUClose(id)
			{
				$("#WatchU_"+id).hide();
			}
			
			function WatchUClose()
			{
				$("#WatchU_").hide();
			}
			
			function ChangeU(id)
			{
				$("#ChangeU_"+id).show();
			}
			
			function ChangeU()
			{
				window.location="./activity-update.html"
			}
			
			function ChangeUClose(id)
			{
				$("#ChangeU_"+id).hide();
			}
			
			function ChangeUClose()
			{
				$("#ChangeU_").hide();
			}
			
			function ChangeUCloseS(id)
			{
				var role = $("#role_now_"+id).val();

				if(role == "管理员")
					role = 1;
				else
					role = 2;
				
				location.href ="#(b.URLQZ)/update_user?id="+id+"&role="+role+"&real_name="+$("#real_name_now_"+id).val();

				
			}
			
			function ChangeUCloseS()
			{
				var role = $("#role_now_").val();

				if(role == "管理员")
					role = 1;
				else
					role = 2;
				
				location.href ="#(b.URLQZ)/update_user?id="+id+"&role="+role+"&real_name="+$("#real_name_now_"+id).val();

				
			}
			
			function DeleteU(id, user)
			{
				$("#DeleteU").show();
				$("#delinfo").html("<div style='font-size:24px; padding-top:30px; padding-left:30px;'>是否删除用户</div>"+"<div style='color:red;font-size:20px; padding-left:180px;'>"+user+"</div>");
				del_id = id;
			}
			
			function DeleteU()
			{
				$("#DeleteU").show();
				$("#delinfo").html("<div style='font-size:24px; padding-top:30px; padding-left:30px;'>是否删除用户</div>"+"<div style='color:red;font-size:20px; padding-left:180px;'>"+user+"</div>");
				del_id = id;
			}
			
			function DeleteUClose()
			{
				$("#DeleteU").hide();
			}
			function DeleteUCloseS()
			{
				$("#DeleteU").hide();
				location.href ="#(b.URLQZ)/del_user?id="+del_id;
			}
		</script>
	</body>
	
</html>
