<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!--触屏适配-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	    <title>用户修改</title>
	
	    <!-- Bootstrap -->
	    <link href="../css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="../css/user-a.css"/>
	    <link rel="stylesheet" href="../component/font-awesome-4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--导航栏-->
				<div id="lefttt-a" align="center" class="col-xs-2 col-sm-2 col-md-2">
					<div id="nav-pic-a" >
						<i class="fa fa-user-circle-o"></i>
					</div>
					<div id="nav-title-a">
						农场用户管理
						<div class="nav-sub-title-a"> 
							<a href="./user-select.html">用户查询</a>
						</div>
						<div class="nav-sub-title-a">
							<a href="./user-update-now.html">当前用户信息修改</a>
						</div>
					</div>
				</div>
				<!--内容展示-->
	  			<div id="righttt-a" class="col-xs-10 col-sm-10 col-md-10">
	  				<div id="rightt-title-a">
	  					用户修改--<span style="color:red">wzlhlhhh</span>
	  				</div>
	  				<div id="rightt-content-a">
						<div class="bs-docs-example">
							
							
							<form action="" method="post">
								<table id="del-tb" class="table table-striped table-bordered" >
									<tbody>
										<tr>
											<td>用户名</td>
											<td>wzlhlhhh</td>
										</tr>
										<tr>
											<td>真实姓名</td>
											<td><input type="text" value="杨睿"></td>
										</tr>
										<tr>
											<td>年龄</td>
											<td><input type="text" value="24"></td>
										</tr>
										<tr>
											<td>手机号</td>
											<td><input type="text" value="13333333333"></td>
										</tr>
										<tr>
											<td>身份证号</td>
											<td><input type="text" value="500103222222220111"></td>
										</tr>
										<tr>
											<td>地址</td>
											<td><input type="text" value="XXXXX路XXX街道XXX号"></td>
										</tr>
										<tr>
											<td>土地拥有量</td>
											<td><input type="text" value="0"></td>
										</tr>
										<tr>
											<td>账户余额</td>
											<td><input type="text" value="0"></td>
										</tr>
										<tr>
											<td>用户等级</td>
											<td><input type="text" value="3级900经验"></td>
										</tr>
										<tr>
											<td colspan="2">
												<input class="btn btn-primary" style="margin-left: 100px;width: 300px;" type="submit" id="" name="" value="更新信息" />
											</td>
										</tr>
										
									</tbody>
								</table>
							</form>
						</div>
					</div>
	  			</div>
			</div>
		</div>			
	</body>
</html>
