<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!--触屏适配-->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	    <title>新闻修改</title>
	
	    <!-- Bootstrap -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="css/user-a.css"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--导航栏-->
				<div id="lefttt-a" align="center" class="col-xs-1 col-sm-1 col-md-1">
					<div id="nav-pic-a" >
						<img src="img/icon/doc.png"/>
					</div>
					<div id="nav-title-a">
						新闻管理
						<div class="nav-sub-title">
							<a href="#(b.URLQZ)/news_all">新闻浏览</a>
						</div>
						<div class="nav-sub-title"> 
							<a href="#(b.URLQZ)/news_add">新闻添加</a>
						</div>
						<div class="nav-sub-title">
							新闻修改
						</div>
					</div>
				</div>
				<!--内容展示-->
	  			<div id="righttt" class="col-xs-11 col-sm-11 col-md-11">
	  				<div id="rightt-title">
	  					新闻修改
	  				</div>
	  				<div id="rightt-content-a">
						<div class="bs-docs-example">
							<form class="form-inline" action="" method="post" >
								<input style="width:200px;" type="text" class="form-control" placeholder="搜索新闻"/>
								<input type="submit"   class="btn btn-primary" name="" id="" value="搜索" />
							</form>
							
							<form action="" method="post">
								<table id="del-tb-new" class="table table-striped table-bordered" >
									<thead>
										<tr align="center">
											<td width="200">新闻标题</td>
											<td width="200">分类</td>
											<td width="200">发布时间</td>
											<td width="180">发布作者</td>
											<td width="220">操作</td>
										</tr>
									</thead>
									<tbody style="font-size: 20px;">
										<tr>
											<td>新闻1</td>
											<td>要闻视点</td>
											<td>2017-9-9</td>
											<td>aab</td>
											<td>
												<button class="btn btn-primary">查看</button>
												<button class="btn btn-primary">修改</button>
												<button class="btn btn-danger">删除</button>
											</td>
										</tr>
										<tr>
											<td>新闻2</td>
											<td>要闻视点</td>
											<td>2017-9-9</td>
											<td>aab</td>
											<td>
												<button class="btn btn-primary">查看</button>
												<button class="btn btn-primary">修改</button>
												<button class="btn btn-danger">删除</button>
											</td>
										</tr><tr>
											<td>新闻3</td>
											<td>政策法规 | 国家法规</td>
											<td>2017-9-9</td>
											<td>aab</td>
											<td>
												<button class="btn btn-primary">查看</button>
												<button class="btn btn-primary">修改</button>
												<button class="btn btn-danger">删除</button>
											</td>
										</tr><tr>
											<td>新闻4</td>
											<td>要闻视点</td>
											<td>2017-9-9</td>
											<td>aab</td>
											<td>
												<button class="btn btn-primary">查看</button>
												<button class="btn btn-primary">修改</button>
												<button class="btn btn-danger">删除</button>
											</td>
										</tr><tr>
											<td>新闻5</td>
											<td>要闻视点</td>
											<td>2017-9-9</td>
											<td>aab</td>
											<td>
												<button class="btn btn-primary">查看</button>
												<button class="btn btn-primary">修改</button>
												<button class="btn btn-danger">删除</button>
											</td>
										</tr><tr>
											<td>新闻6</td>
											<td>要闻视点</td>
											<td>2017-9-9</td>
											<td>aab</td>
											<td>
												<button class="btn btn-primary">查看</button>
												<button class="btn btn-primary">修改</button>
												<button class="btn btn-danger">删除</button>
											</td>
										</tr>
										<tr align="center" style="font-size: 18px;">
											<td colspan="4">
												第 1/2页
												上一页
												1 2 3 4 5 6
												下一页
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
	  			</div>
			</div>
		</div>
		
	</body>
</html>
